@media (max-width: 46.8em){
  .c-primary-nav {
      display: block;
      margin-right: 1rem;
  }
  .c-primary-nav__list {
    display: flex;
}
}


/*mobile based css start from here*/
@media only screen and (max-width: 600px) {
    .landing-hero-header {
    background: url(../images/landing-banner.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
}
.service-block-1, .service-block-2, .service-block-3 {
    display: flex;
    align-items: center !important;
    padding: 1em 1.5em;
}
.service-avthar img{
        width: 70%;
}
.landing-hero-hding h1 {
    width: 100% !important;
    margin: 0 auto;
}
.service-name p{
padding-left: 1em;
}
.our-success-storie-1{
  display: inline-block !important;
  text-align: left;
}
.our-success-storie-1 img{
      width: 100%;
}
.over-the-world-main {
    padding: 3em 0em;
}
.over-the-world-img img{
  width: 100%;
}
.work-with-us-form-block {
    padding: 2em 2em 1em 2em;
}
.work-with-us-form-inputs input{
  width: 90%;
}
.work-with-us-form-textarea textarea{
  width: 83% !important;
}
.work-with-us-form-inputs .c-field {
    padding: 0.5em 1em;
    box-sizing: border-box;
}
.c-footer-rights {
    padding: 0.5em 0em;
    text-align: center;
}
.c-footer-follow-us-ul {
    float: none;
    position: relative;
    padding: 0.5em;
    text-align: center;
}
.our-success-stories {
    background: #f8f6f7;
    padding: 1em 0;
}
.our-success-storie-block {
    padding: 1em 2em;
}
.our-success-stories-hding-blog {
    padding: 0 0.5em 2em 0.5em;
}
.work-with-us-hding-block {
    padding: 0 0.6em;
}
.testimonials-block{display: none;}
}
@media only screen and (max-width: 768px) {
.work-with-us-form-textarea textarea {
    width: 84% !important;
}
.d-none-in-xs{
  display: none;
}
.c-header {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2);
}
.c-header-xs-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}
.d-none-in-mg-lg {
    display: block;
}
.c-header-xs-block a{
  flex-basis: 30%;
  cursor: pointer;
}
.c-header-xs-block a i{
  font-size: 21px;
}
.testimonials-quote-bg{
  height: 350px;
  background-position: center;
  margin: 0;
}
}

@media only screen and (max-width: 1024px) {
    .landing-hero-header {
    background: url(../images/landing-banner.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
}
.landing-hero-hding h1 {
    width: 60%;
    margin: 0 auto;
}
.our-success-storie-block{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.our-success-storie-1{
      display: flex;
      padding: 1em 0;
}
.our-success-story-content {
    padding: 1em 1em 2em 1em;
}
.over-the-world-main{
  display: block !important;
}
}


@media only screen and (min-width: 768px) {
   .landing-services-block{
    display: flex;
    justify-content: center;
}
.our-success-storie-block{
    display: flex;
    justify-content: center;
}
.over-the-world-main{
  display: flex;
}
.work-with-us-form-inputs, .work-with-us-form-textarea {
    display: flex;
    justify-content: center;
}
.work-with-us-form-textarea .c-field {
    flex-basis: 100%;
}
.c-footer-main{
  box-sizing: border-box;
  display: flex;
}
}
