<section class="over-the-world">
  <div class="over-the-world-main">
         <div class="over-the-world-content">
           <h2>{{ section-for-global-user-hding }}</h2>
           <p>{{ section-for-global-user-para }}</p>
         </div>
         <div class="over-the-world-img">
           {{> atoms-over_the_world }}
         </div>
 </div>
</section>
