<section class="our-success-stories">
         <div class="our-success-stories-hding-blog text-center">
            <h2>{{ section-our-success-hding }}</h2>
            <p>{{ section-our-success-tag-line }}</p>
         </div>
         <div class="our-success-storie-block">
            <div class="our-success-storie-1">
               {{> atoms-our_service_1 }}
               <div class="our-success-story-content">
                 <h4>{{ section-our-success-story-1 }}</h4>
                 <p>{{section-our-success-story-tagline-1}}</p>
               </div>
            </div>
            <div class="our-success-storie-1">
              {{> atoms-our_service_1 }}
              <div class="our-success-story-content">
                <h4>{{ section-our-success-story-2 }}</h4>
                <p>{{section-our-success-story-tagline-2}}</p>
              </div>
            </div>
            <div class="our-success-storie-1">
               {{> atoms-our_service_1 }}
               <div class="our-success-story-content">
                 <h4>{{ section-our-success-story-3 }}</h4>
                 <p>{{section-our-success-story-tagline-3}}</p>
               </div>
            </div>
            <div class="our-success-storie-1">
               {{> atoms-our_service_1 }}
               <div class="our-success-story-content">
                 <h4>{{ section-our-success-story-4 }}</h4>
                 <p>{{section-our-success-story-tagline-4}}</p>
               </div>
            </div>
         </div>
      </section>
