<section class="landing-hero-header">
        <div class="landing-hero-hding">
           <h1 class="text-center text-white">{{ main-section-header }}</h1>
        </div>
        <div class="landing-services-block">
           <div class="service-block-1">
              <div class="service-avthar text-center">
                 {{> atoms-service_name_1 }}
              </div>
              <div class="service-name text-center">
                 <a href="#" class="text-white">{{ main-section-services-1 }}</a>
              </div>
           </div>
           <div class="service-block-2">
              <div class="service-avthar text-center">
                 {{> atoms-service_name_2 }}
              </div>
              <div class="service-name text-center">
                 <a href="#" class="text-white">{{ main-section-services-1 }}</a>
              </div>
           </div>
           <div class="service-block-3">
              <div class="service-avthar text-center">
                 {{> atoms-service_name_3 }}
              </div>
              <div class="service-name text-center">
                 <a href="#" class="text-white">{{ main-section-services-1 }}</a>
              </div>
           </div>
        </div>
        <div class="page-scroll-bar text-center">
           <div class="page-scroll-down">
              <a href="#">{{ main-section-scroll-down }} <span>{{> atoms-scroll_down }}</span></a>
           </div>
        </div>
     </section>
