
<header class="c-header ax-header">
	<a href="#" class="c-logo-link">
		Company <span>Logo</span>
	</a>
	<div class="c-header__controls">
			<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
			<a href="#search-form" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
			<nav id="nav" class="c-primary-nav">
				<ul class="c-primary-nav__list">
          <li class="c-primary-nav__item">
            <div class="dropdown">
              <button class="dropbtn">About
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#" class="c-primary-nav__link">Our Story</a>
                <a href="#" class="c-primary-nav__link">Why Company</a>
                <a href="#" class="c-primary-nav__link">Sucess Stories</a>
                <a href="#" class="c-primary-nav__link">Carrers</a>
              </div>
            </div>
          </li>
          <li class="c-primary-nav__item">
            <div class="dropdown">
              <button class="dropbtn">Services
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#" class="c-primary-nav__link">Link 1</a>
                <a href="#" class="c-primary-nav__link">Link 2</a>
                <a href="#" class="c-primary-nav__link">Link 3</a>
                <a href="#" class="c-primary-nav__link">Link 4</a>
                <a href="#" class="c-primary-nav__link">Link 5</a>
              </div>
            </div>
          </li>
          <li class="c-primary-nav__item">
            <div class="dropdown">
              <button class="dropbtn">Solution
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#" class="c-primary-nav__link">Link 1</a>
                <a href="#" class="c-primary-nav__link">Link 2</a>
                <a href="#" class="c-primary-nav__link">Link 3</a>
                <a href="#" class="c-primary-nav__link">Link 4</a>
                <a href="#" class="c-primary-nav__link">Link 5</a>
              </div>
            </div>
          </li>
					<li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link">Blog</a></li>
					<li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link c-get-in-touch"><span>{{ >atoms-get_in_touch_icon}}</span> Get In Touch</a></li>
				</ul><!--end c-primary-nav__list-->
			</nav><!--end c-primary-nav-->
		</div>
</header>
