
<header class="c-header ax-header">
	<div class="c-header-xs-block">
		<div class="text-white"><a href="{{ url }}" class="d-none-in-mg-lg text-white side-nav-open"><i class="fa fa-bars"></i></a></div>
		<div><a href="{{ url }}" class="c-logo-link">Company <span>Logo</span></a></div>
		<div><a href="{{ url }}" class="d-none-in-mg-lg"><img src="{{ get-in-touch }}" /></a></div>
	</div>
	<div class="c-header__controls d-none-in-xs">
			<nav id="nav" class="c-primary-nav">
				<ul class="c-primary-nav__list">
          <li class="c-primary-nav__item">
            <div class="dropdown">
              <button class="dropbtn">About
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#" class="c-primary-nav__link">Our Story</a>
                <a href="#" class="c-primary-nav__link">Why Company</a>
                <a href="#" class="c-primary-nav__link">Sucess Stories</a>
                <a href="#" class="c-primary-nav__link">Carrers</a>
              </div>
            </div>
          </li>
          <li class="c-primary-nav__item">
            <div class="dropdown">
              <button class="dropbtn">Services
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#" class="c-primary-nav__link">Link 1</a>
                <a href="#" class="c-primary-nav__link">Link 2</a>
                <a href="#" class="c-primary-nav__link">Link 3</a>
                <a href="#" class="c-primary-nav__link">Link 4</a>
                <a href="#" class="c-primary-nav__link">Link 5</a>
              </div>
            </div>
          </li>
          <li class="c-primary-nav__item">
            <div class="dropdown">
              <button class="dropbtn">Solution
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#" class="c-primary-nav__link">Link 1</a>
                <a href="#" class="c-primary-nav__link">Link 2</a>
                <a href="#" class="c-primary-nav__link">Link 3</a>
                <a href="#" class="c-primary-nav__link">Link 4</a>
                <a href="#" class="c-primary-nav__link">Link 5</a>
              </div>
            </div>
          </li>
					<li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link">Blog</a></li>
					<li class="c-primary-nav__item"><a href="#" class="c-primary-nav__link c-get-in-touch"><span><i class="get-in-touch-icon"></i></span> Get In Touch</a></li>
				</ul><!--end c-primary-nav__list-->
			</nav><!--end c-primary-nav-->
	</div>
	<div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn side-nav-close"><span><i class="fa fa-times" aria-hidden="true"></i></span></a>
              <a href="#"><span><i class="fa fa-user" aria-hidden="true"></i></span> About</a>
              <a href="#"><span><i class="fa fa-paper-plane" aria-hidden="true"></i></span> Services</a>
              <a href="#"><span><i class="fa fa-users" aria-hidden="true"></i></span> Solutions</a>
              <a href="#"><span><i class="fa fa-address-card-o" aria-hidden="true"></i></span> Blog</a>
</div>
</header>

<script>
$.fn.sidenavOpen = function(){
	$('#mySidenav').addClass('width-250px');
}
$('.side-nav-open').click(function(){
		$.fn.sidenavOpen();
});
$.fn.sidenavClose = function(){
	$('#mySidenav').removeClass('width-250px');
}
$('.side-nav-close').click(function(){
		$.fn.sidenavClose();
});
</script>
