<section class="c-footer">
  <div class="c-footer-main">
    <div class="c-footer-rights">
        {{ company-footer-rights }}
    </div>
    <div class="c-footer-social-links">
      <ul class="c-footer-follow-us-ul">
        <li class="c-footer-follow-us-li">
          <a href="{{ url }}" class="c-footer-follow-us-txt">{{ company-footer-follow-us }}</a>
        </li>
        <li class="c-footer-follow-us-li">
          <a href="{{ url }}">{{> atoms-company_footer_fb_link }}</a>
        </li>
        <li class="c-footer-follow-us-li">
          <a href="{{ url }}">{{> atoms-company_footer_in_link }}</a>
        </li>
        <li class="c-footer-follow-us-li">
          <a href="{{ url }}">{{> atoms-company_footer_tw_link }}</a>
        </li>
        <li class="c-footer-follow-us-li">
          <a href="{{ url }}">{{> atoms-company_footer_mail_link }}</a>
        </li>
      </ul>
    </div>
  </div>
</section>
