<section class="work-with-us-block">
  <div class="work-with-us-hding-block text-center text-white">
     <h2>{{ section-work-with-us-hding }}</h2>
     <p>{{ section-work-with-us-tag-line }}</p>
  </div>
  <div class="work-with-us-form-block text-center">
    {{> organisms-work_with_us_form_fields}}
  </div>
</section>
