<form>
  <div class="work-with-us-form-inputs">
    <div class="c-field">
      <input id="{{ full-name-id }}" type="{{ text-type }}" placeholder="{{ fullname-placeholder }}" required="{{required-field}}" />
    </div>

    <div class="c-field">
      <input id="{{ email-id }}" type="{{ email-type }}" placeholder="{{ email-placeholder }}" required="{{required-field}}" />
    </div>

    <div class="c-field">
      <input id="{{ phonenumber-id }}" type="{{ number-type }}" placeholder="{{ phonenumber-placeholder }}" required="{{required-field}}" />
    </div>
  </div>

  <div class="work-with-us-form-textarea">
    <div class="c-field">
      <textarea id="{{ message-textarea-id }}" rows="{{ no-of-rows }}"placeholder="{{ textarea-placeholder }}" required="{{required-field}}"></textarea>
    </div>
  </div>

<div class="work-with-us-form-submit-btn">
  <div class="c-field">
    <button type="{{ form-submit }}" class="c-button c-btn-org">{{submit-btn}}</button>
  </div>
</div>
</form>
