<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="../" />
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/responsive.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/font-awesome.min.css?{{ cacheBuster }}" media="all">
    <link rel="stylesheet" type="text/css" href="../../css/slick.css?{{ cacheBuster }}" />
    <link rel="stylesheet" type="text/css" href="../../css/slick-theme.css?{{ cacheBuster }}"/>
    <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <script src="../../js/jquery-3.3.1.min.js?{{ cacheBuster }}" media="all"></script>
    <script type="text/javascript" src="../../js/slick.min.js?{{ cacheBuster }}" media="all"></script>
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">

  </body>
  </html>
